 *{
    margin:0;
    padding:0;
    font-family: nunito;
      font-weight: lighter;
}


.vitae-bar{
    background-color: #6548C0;
    color:white;
    height: 40px;
    display: flex;
}

.vitae-box{
    width:50px;
    margin-top: 6px;
    margin-left: 15px;
    font-size: 25px;

}

.login-bar{
    background-color: #342074;
    vertical-align: middle;
}

.button-box{
    float: right;
    position: absolute;
    right: 15px;
    height: inherit;
}

.button-1{
    font-size: 16px;
    border: none;
    background-color: inherit;
    margin-right:15px;
    color: whitesmoke;
    width: 120px;
    height: inherit;
    font-weight:300;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #6548C0 50%, #7e67cb 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
}

.button-1:hover {
    background-position: 0 -100%;
}

.login-bar{
    height:160px;
    font-size: 150px;
    color:whitesmoke;
}
.login-bar h1{
    font-size: 80px;
    margin-left:55px;
    padding-top:50px;
}

.boxr{
    margin-top:40px;
    margin-left: 400px;
    display:block;
    text-align: left;
}

.input-buff{
    margin-top:10px;
    margin-left:10px;
    width:300px;
    height: 50px;
    font-size: 20px;
    border:none;
/*    border-bottom: solid 1px black;*/
    color:black;
    background-color:#ded7f4;
}


#cont-btn{
    border:none;
    font-family: nunito;
    font-size: 40px;
    width:120px;
    height:50px;
    background-color:#342074;
    color:whitesmoke;
    margin-top: 60px;
    margin-left:250px;
}
.btn-text{
    margin:0px;
    padding:0px;
    margin-bottom: ;
    font-size: 20px;

}

.get-strt{
    text-decoration: underline;
}

.acc-line{
    font-size: 20px;
    margin-top: 10px;
}

p{
    font-size:27px;
    margin-top: 10px;
    margin-left:8px;

}

input{
    font-size:45px;
    font-family: nunito;


}

#email-input{
    margin-top:5px;
    width:616px;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a{text-decoration: none !important;
    color: whitesmoke;}
